<div class="container py-3">
    <div class="card">
  
      <div class="row col-md-12 py-3">
      
          <div class="col-md-3">
              <span class="fa fa-3x fa-graduation-cap"></span>
          </div>
          <div class="col-md-9">
            <h3>Education</h3>
            <div class="col-md-12 card-action" *ngFor="let edu of education">
           
              
                    <h5>{{edu.qualification}} <span ng-if="education.stream">{{edu.stream}}</span><span> @{{edu.institute}}</span></h5>
                    <div><span>Passed: {{edu.passingYear}}</span></div>
                    <div><span>Marks: {{edu.marks}} %</span></div>
              

              </div>
            </div>
          </div>
        </div>
  
  
    </div>
  