      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" [routerLink]="">
            <img src="../../assets/images/hiral-logo.png" width="50px">
          </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li *ngFor="let item of navLinks" class="nav-item" (click)="updateActiveHeader(item)">
                  <a class="nav-link" routerLink="{{item.link}}" [ngClass]="{'active': isActive === item.name}">{{item.name}}</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="skills">Skills</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="work">Works</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="edu">Education</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="accolades">Accolades</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="cover">Cover Letter</a>
              </li> -->
            </ul>

          </div>
        </nav>


