<div class="container py-3">
 
        
    

          <div id="progress" *ngFor="let skill of skills">
            <div class="card bg-light mb-3">
              <div class="card-header">{{skill.skill}}</div>
              <div class="card-body">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{width: skill.rating*10 + '%'}" aria-valuenow="skill.rating*10"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>


          </div>
        </div>
  