<div class="container py-3">
  <div class="card">

    <div class="row col-md-12 py-3">
    
        <div class="col-md-3">
          <span class="fa fa-3x fa-code"></span>
        </div>
        <div class="col-md-9">
          <h3>Professional Skills</h3>
          <div class="col l12 m12 s12 card-action" *ngFor="let skill of skills">
            <span>{{skill.skill}}</span>
            <div class="progress">
              <div class="progress-bar bg-info" [ngStyle]="{width: skill.rating*10 + '%'}" aria-valuenow="skill.rating*10"
                aria-valuemin="0" aria-valuemax="100">

              </div>

            </div>
          </div>
        </div>
      </div>


  </div>
</div>