@import "../../var";

#progress {
 .card-header {
     color: black;
     background-image: none;
 } 
 .card-body {
     color: black;
 }
 .progress-bar {
     background-color: $secondary-color !important;
 }

}