<div class="container py-3">
  <div class="card py-3">
    <div class="row col-md-12">
      <span class="fa fa-3x fa-code"></span>
      <h3>Professional Skills</h3>
    </div>
    <div class="row col-md-12 card-action" *ngFor="let skill of skills">
      <span>{{skill.skill}}</span>
      <div class="row col-md-12 progress">
        <div class="progress-bar bg-info" [ngStyle]="{width: skill.rating*10 + '%'}" aria-valuenow="skill.rating*10"
          aria-valuemin="0" aria-valuemax="100">

        </div>

      </div>
    </div>
  </div>
</div>


