<!-- <div class="container py-3">
    <div class="row fullHeight">
          
            <div class="row col-md-12 card">
                <p>{{date|date:shortDate}}</p>
                <p>{{coverLetter.greeting}}</p>
                <p>{{coverLetter.opening}}</p>
                <p>{{coverLetter.start}}</p>
                <p>{{coverLetter.skills}}</p>
                <p>{{coverLetter.close}}</p>
                <p>Sincerely,</p>
                <p>Hiral Parmar</p>
            </div>
       
       
    </div>
</div> -->

<!-- <div class="container py-3">
    <div class="card bg-light mb-3">
      
        
          
         
                <p>{{date|date:shortDate}}</p>
                <p>{{coverLetter.greeting}}</p>
                <p>{{coverLetter.opening}}</p>
                <p>{{coverLetter.start}}</p>
                <p>{{coverLetter.skills}}</p>
                <p>{{coverLetter.close}}</p>
                <p>Sincerely,</p>
              
         
            <div class="row col-md-12">
                <p>Hiral Parmar</p>
            </div>
            </div>
            </div> -->
         
            <div class="container py-3">
                    <div id="cover">
                      <div class="card bg-light mb-3">

                        <div class="card-body">
                                <p>{{coverLetter.greeting}}</p>
                                <p>{{coverLetter.opening}}</p>
                                <p>{{coverLetter.start}}</p>
                                <p>{{coverLetter.skills}}</p>
                                <p>{{coverLetter.close}}</p>
                                <p>Sincerely,</p>
                              
                         
                            <div class="row col-md-12">
                                <p>Hiral Parmar</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
         