<div class="container">
    <div class="row fullHeight">
          
            <div class="row col-md-12 card">
                <p>{{date|date:shortDate}}</p>
                <p>{{coverLetter.greeting}}</p>
                <p>{{coverLetter.opening}}</p>
                <p>{{coverLetter.start}}</p>
                <p>{{coverLetter.skills}}</p>
                <p>{{coverLetter.close}}</p>
                <p>Sincerely,</p>
                <p>Hiral Parmar</p>
            </div>
       
       
    </div>
</div>