
<div class="container py-3">
  <div class="card bg-light mb-3" *ngFor="let pr of projects">
   
    <div class="card-header">{{pr.name}}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 name">
            Description: 
        </div>
        <div class="col-md-10">
            {{pr.description}}
        </div>
      </div>
      
      <div class="row" *ngIf= "pr.technologies">
          <div class="col-md-2 name">
              Tech Stack: 
          </div>
          <div class="col-md-10">
              {{pr.technologies}}
          </div>
        </div>
       
        <div class="row" *ngIf = "pr.duration">
            <div class="col-md-2 name">
                Duration: 
            </div>
            <div class="col-md-10">
                {{pr.duration}}
            </div>
          </div>
        
          <div class="row" *ngIf="pr.organization">
              <div class="col-md-2 name">
                  Organization: 
              </div>
              <div class="col-md-10">
                  {{pr.organization}}
              </div>
            </div>
     
            <div class="row" *ngIf="pr.roles">
                <div class="col-md-2 name">
                    Roles & Responsibility: 
                </div>
                <div class="col-md-10">
                    {{pr.roles}}
                </div>
              </div>
  
        <div class="row" *ngIf="pr.link">
            <div class="col-md-2 name">
                 know more:
            </div>
            <div class="col-md-10">
               <a href="{{pr.link}}" target="_blank">Click Here</a> 
            </div>
          </div>
            
    </div>
  </div>
</div>