<div class="container py-3">
  <div class="card mb-3" *ngFor="let accolade of accolades">
    <div class="row">
      <div class="col-md-12">
        <div class="card-block p-3">
          <img class="card-img-top" src="../../assets/images/accolades/{{accolade.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{accolade.title}}</h5>
            <p class="card-text">{{accolade.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>