@import "../../var";

.card {
    background-image: linear-gradient(135deg, #3b8da2 94%, #3B8D95 10%);
    color: white;
    a {
        color: white;
    }
    img {
        width: 90%;
    }
    .card-title {
        display: flex;
        justify-content: center;
        h5 {
            flex-grow: 1;
            justify-content: center;
            display: flex;
        }
    }
}
