<div class="container py-3">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/images/hiral.jpg" class="m-3">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block p-3">
          <div class="card-title col-md-12">
            <h5>{{user.name}}</h5>
            <a href="../../assets/hiral.pdf" download="Hiral Parmar"><span class="fa fa-2x fa-download"></span></a>
 
          </div>
          <div #desc>
            <p class="p-3">

              UI/Front end developer who likes working and creating responsive applications by converting UX prototype
              into a scalable design, ensuring cross-browser compatibility across different devices.
              Produce clean, semantic HTML and CSS, agonizing along the way for pixel perfection.
              <br>
              Experienced in HTML5, JavaScript(upto ES6), CSS3, SCSS, Bootstrap4, Angular6, Redux, RxJs, D3.js
              <br>
              I enjoy turning complex problems into simple, beautiful and intuitive interface designs.
              When I'm not coding or pushing pixels, you can find me watching movies, tv series, or busy reading technical blogs.


            </p>
          </div>
          <hr />
          <div #contact>
            <div class="row col-md-12">
              <div class="col-md-1">
                <span class="fa fa-2x fa-phone"></span>
              </div>
              <div class="col-md-11">
                <div>
                  <p>
                    <span class="fa fa-mobile"></span>
                    <a class="ml-2" href="tel:{{user.contactDetails.contactNumber}}">{{user.contactDetails.contactNumber}}</a>
                  </p>
                </div>
                <div>
                  <p>
                    <span class="fa fa-mobile"></span>
                    <a class="ml-2" href="tel:{{user.contactDetails.alternateNumber}}">{{user.contactDetails.alternateNumber}}</a>
                  </p>
                </div>
              </div>
            </div>

          </div>

          <hr />
          <div #Email>

            <div class="row col-md-12">
              <div class="col-md-1">
                <span class="fa fa-2x fa-envelope"></span>
              </div>

              <div class="col-md-11">
                <p>

                  <a class="ml-2" href="mailto:{{user.contactDetails.email}}">{{user.contactDetails.email}}</a>
                </p>

              </div>


            </div>

          </div>
          <hr />
          <div #address>
            <div class="row col-md-12">
              <div class="col-md-1">
                <span class="fa fa-2x fa-address-card"></span>
              </div>
              <div class="col-md-11">
                <div>
                  <p>
                    {{user.contactDetails.address.street}}
                    <br />
                    {{user.contactDetails.address.society}}
                    <br />
                    {{user.contactDetails.address.city}}
                    <br />
                    {{user.contactDetails.address.state}} - {{user.contactDetails.address.pin}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <!-- <div #interest>
          <div class="row col-md-12">

                  <div>
                      <span class="fa fa-3x fa-book mx-4" title="Reading"></span>
                      <span class="fa fa-3x fa-video-camera mx-4" title="Movies"></span>
                      <span class="fa fa-3x fa-plane mx-4" title="Travelling"></span>
                  </div>

          </div>

        </div> -->
          <div class="row col-md-12 socialLinks">
            <div class="col-md-2 col-sm-2" title="Facebook" *ngIf="socialProfiles.facebook">
              <a [href]="socialProfiles.facebook" target="_blank"><span class="fa fa-3x fa-facebook-square"></span></a>
            </div>
            <!-- <div class="col-md-2 col-sm-2" title="Google Plus" *ngIf="socialProfiles.googlePlus">
              <a [href]="socialProfiles.googlePlus" target="_blank"><span class="fa fa-3x fa-google-plus-square"></span></a>
            </div> -->
            <!-- <div class="col-md-2" title="Twitter" *ngIf="socialProfiles.twitter">
              <a [href]="socialProfiles.twitter" target="_blank"><span class="fa fa-3x fa-twitter-square"></span></a>
            </div> -->
            <div class="col-md-2" title="Github" *ngIf="socialProfiles.github">
              <a [href]="socialProfiles.github" target="_blank"><span class="fa fa-3x fa-github-square"></span></a>
            </div>
            <div class="col-md-2" title="LinkedIn" *ngIf="socialProfiles.linkedin">
              <a [href]="socialProfiles.linkedin" target="_blank"><span class="fa fa-3x fa-linkedin-square"></span></a>
            </div>
            <div class="col-md-2" title="Stack" *ngIf="socialProfiles.stackOverFlow">
              <a [href]="socialProfiles.linkedin" target="_blank"><span class="fa fa-3x fa-stack-overflow"></span></a>
            </div>
            <!-- <div class="col-md-2" title="Blogger" *ngIf="socialProfiles.blogger">
              <a [href]="socialProfiles.blogger" target="_blank"><span class="fa fa-3x fa-rss-square"></span></a>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

