@import "../../var";

// .image {
//     width: 75%;
//     height: auto;
//     padding: 1rem;
//     background-color: $theme-color;
// }
.card {
    background-color: $theme-color;
    color: white;
}
.socialLinks a {
    color: white;
}
hr {
    background-color: white;
}
